---
http_interactions:
- request:
    method: get
    uri: https://frinkiac.com/api/search?q=strap%20in%20and%20feel%20the%20g's
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"Id":1384170,"Episode":"S10E13","Timestamp":774439,"Filename":""},{"Id":1384167,"Episode":"S10E13","Timestamp":774222,"Filename":""},{"Id":1384175,"Episode":"S10E13","Timestamp":775891,"Filename":""},{"Id":1384174,"Episode":"S10E13","Timestamp":775690,"Filename":""},{"Id":1384166,"Episode":"S10E13","Timestamp":774022,"Filename":""},{"Id":1384171,"Episode":"S10E13","Timestamp":775474,"Filename":""},{"Id":1384181,"Episode":"S10E13","Timestamp":776525,"Filename":""},{"Id":1384168,"Episode":"S10E13","Timestamp":774639,"Filename":""},{"Id":1384177,"Episode":"S1[...]
- request:
    method: get
    uri: https://frinkiac.com/api/caption?e=S10E13&t=774439
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Frame":{"Id":1384170,"Episode":"S10E13","Timestamp":774439,"Filename":""},"Subtitles":[{"Id":108420,"Episode":"S10E13","StartTimestamp":772033,"EndTimestamp":773867,"Content":"NOBODY
        SNUGGLES WITH MAX POWER."},{"Id":108421,"Episode":"S10E13","StartTimestamp":773867,"EndTimestamp":776700,"Content":"YOU
        STRAP YOURSELF IN AND FEEL THE Gs!"}],"Nearby":[{"Id":1384165,"Episode":"S10E13","Timestamp":773805,"Filename":""},{"Id":1384166,"Episode":"S10E13","Timestamp":774022,"Filename":""},{"Id":1384167,"Episode":"S10E13","Timestamp":774222,"Filename":""},{"Id":1384170,"Episode":"S10E13","Timestamp":774439,"Filename":""},{"Id":1384168,"Episode":"S10E13","Timestamp":774639,"Filename":""},{"Id":1384172,"Episode":"S10E13","Timestamp":774856,"Filename":""},{"Id":1384173,"Episode":"S10E13","Timestamp":775056,"Filename":""}]}'
  recorded_at: Wed, 24 Feb 2016 12:47:30 GMT
recorded_with: VCR 3.0.1
