---
http_interactions:
- request:
    method: get
    uri: https://frinkiac.com/api/search?q=lazy%20saturday
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"Id":1201200,"Episode":"S09E09","Timestamp":37820,"Filename":""},{"Id":1201208,"Episode":"S09E09","Timestamp":40239,"Filename":""},{"Id":1201197,"Episode":"S09E09","Timestamp":38237,"Filename":""},{"Id":1201203,"Episode":"S09E09","Timestamp":39422,"Filename":""},{"Id":1201189,"Episode":"S09E09","Timestamp":36485,"Filename":""},{"Id":1201202,"Episode":"S09E09","Timestamp":38854,"Filename":""},{"Id":1201204,"Episode":"S09E09","Timestamp":39605,"Filename":""},{"Id":1201194,"Episode":"S09E09","Timestamp":37620,"Filename":""},{"Id":1201198,"Episode":"S09E09","[...]
